<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kokatto.kobold">
    <!-- Permission needed to vibrate if the user has key press vibration enabled -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.instagram.android" />
        <package android:name="com.bukalapak.android" />
        <package android:name="com.tokopedia.tkpd" />
        <package android:name="com.shopee.id" />
    </queries>

    <application
        android:name="dev.patrickgold.florisboard.FlorisApplication"
        android:allowBackup="false"
        android:icon="@mipmap/floris_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/floris_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/SettingsTheme">

        <activity
            android:name=".crm.ContactListActivity"
            android:exported="true"
            android:label="@string/kobold_contact"
            android:theme="@style/SettingsTheme.NoActionBar" />
        <activity
            android:name=".crm.ContactImportActivity"
            android:exported="true"
            android:theme="@style/SettingsTheme.NoActionBar" />
        <activity
            android:name=".crm.ContactInfoActivity"
            android:exported="true"
            android:theme="@style/SettingsTheme.NoActionBar" />
        <activity
            android:name=".dashboard.DashboardMasterProfitActivity"
            android:exported="true"
            android:label="@string/title_activity_dashboard_master_profit"
            android:theme="@style/SettingsTheme.NoActionBar" />
        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="true"
            android:label="Kobold Registration">
        </activity>
        <activity
            android:name=".dashboardcreatetransaction.SearchTransactionActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".dashboardcreatetransaction.ArchiveActivity"
            android:exported="true" /> <!-- IME service -->
        <service
            android:name="dev.patrickgold.florisboard.FlorisImeService"
            android:directBootAware="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service> <!-- Spellchecker service -->
        <service
            android:name="dev.patrickgold.florisboard.FlorisSpellCheckerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>

            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service> <!-- Settings Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.SettingsMainActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:theme="@style/SettingsTheme">
        </activity>
        <activity
            android:name=".template.TemplateActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="Kobold Template"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/floris_app_icon_round">
        </activity>
        <activity
            android:name=".template.TemplateActivityInput"
            android:icon="@mipmap/floris_app_icon"
            android:roundIcon="@mipmap/floris_app_icon_round" />
        <activity
            android:name=".template.TemplateActivitySearch"
            android:icon="@mipmap/floris_app_icon"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:windowSoftInputMode="adjustResize" /> <!-- User Dictionary Manager Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.UdmActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/settings__title"
            android:theme="@style/SettingsTheme" /> <!-- Theme Selector Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.ThemeManagerActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/settings__title"
            android:theme="@style/SettingsTheme" /> <!-- Theme Editor Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.ThemeEditorActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/settings__theme_editor__title"
            android:theme="@style/SettingsTheme" /> <!-- Spelling Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.spelling.SpellingActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/settings__spelling__title_overview"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:theme="@style/SettingsTheme" /> <!-- About Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.AboutActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/about__title"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:theme="@style/SettingsTheme" /> <!-- Advanced Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.settings.AdvancedActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/settings__advanced__title"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:theme="@style/SettingsTheme" /> <!-- Setup Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.setup.SetupActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/setup__title"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:theme="@style/SettingsTheme" />

        <activity-alias
            android:name="dev.patrickgold.florisboard.SettingsLauncherAlias"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/floris_app_icon_round"
            android:targetActivity="dev.patrickgold.florisboard.setup.SetupActivity" /> <!-- Using an activity alias to disable/enable the app icon in the launcher -->
        <!-- Dashboard Transaction Activity -->
        <activity
            android:name=".dashboardcreatetransaction.CreateTransactionActivity"
            android:exported="true"
            android:label="Kobold Transaction">
        </activity>
        <activity
            android:name=".dashboardcreatetransaction.InputActivity"
            android:exported="true" />
        <activity
            android:name=".dashboardcreatetransaction.DetailActivity"
            android:exported="true" /> <!-- Dashboard Shipping Cost -->
        <activity
            android:name=".dashboardcheckshippingcost.CheckShippingcost"
            android:exported="true"
            android:label="Kobold Shipping Cost">
        </activity>
        <activity
            android:name=".dashboardcheckshippingcost.AddressShippingActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible" /> <!-- Dashboard Bank Management Activity -->
        <activity
            android:name=".bank.BankHomeActivity"
            android:exported="true"
            android:label="Kobold Bank">
        </activity>
        <activity
            android:name=".bank.BankInputActivity"
            android:exported="true" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="true"
            android:label="Kobold Dashboard">
        </activity> <!-- Login -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="Kobold"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.OtpActivity"
            android:exported="true"
            android:label="Kobold OTP"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- Crash Dialog Activity -->
        <activity
            android:name="dev.patrickgold.florisboard.crashutility.CrashDialogActivity"
            android:icon="@mipmap/floris_app_icon"
            android:label="@string/crash_dialog__title"
            android:theme="@style/CrashDialogTheme" />

        <activity android:name=".setting.SettingActivity" />
        <activity
            android:name=".setting.SettingProfilTokoActivity"
            android:exported="true" />
        <activity android:name=".setting.HelpActivity" />
        <activity
            android:name=".crm.AddContactActivity"
            android:label="AddContact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".crm.EditContactActivity"
            android:label="EditContact"/>
<!--        <activity android:name=".crm.ContactSearchActivity"-->
<!--            android:exported="true"-->
<!--            android:label="Contact Search"-->
<!--            android:theme="@style/DashboardThemeBase"-->
<!--            android:windowSoftInputMode="stateVisible" />-->

        <provider
            android:name="dev.patrickgold.florisboard.ime.clip.provider.FlorisContentProvider"
            android:authorities="${applicationId}.provider.clip"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>
